<footer class="margin-bottom-1">
  
<!-- Socials -->
<div class="grid-x grid-padding-x grid-padding-y align-center footer__socials">
  <div class="shrink cell text-center">
    	<ul class="menu text-center">
        <li><a href="{{site.social.instagram}}" target="_blank">I.G.</a></li>
        <li><a href="{{site.social.twitter}}" target="_blank">T.W.</a></li>
        <li><a href="{{site.social.facebook}}" target="_blank">F.B.</a></li>
      </ul>
  </div>  
</div>
<!-- End Socials -->

<!-- Address -->
<div class="grid-x grid-padding-x align-center footer__address">
  <div class="small-12 cell text-center">
    <div>3 North Street, Grantham, Lincolnshire NG31 6NU</div>
    <ul class="vertical medium-horizontal menu align-center text-center">
        <li><a href="tel:01476565656">+44 (0)1476 56 56 56</a></li>
        <li><a href="mailto:salon@gerardhair.com">salon@gerardhair.com</a></a></li>
    </ul>
  </div>  
</div>
<!-- End Address -->

<!-- Links -->
<!--
<div class="grid-x grid-padding-x align-center footer__links">
  <div class="shrink cell text-center">
    <ul class="vertical medium-horizontal menu text-center">
        <li><a href="/info/" target="_blank">Opening Hours</a></li>
        <li><a href="http://www.kitomba.co.uk/bookings/gerardhair/" target="_blank">Book an Appointment</a></li>
    </ul>
  </div>  
</div>
-->
<!-- End Links -->


<!-- Terms and Conditions -->
<div class="grid-x grid-padding-x grid-padding-y align-center show-for-medium">
  <div class="shrink cell text-center">
    <ul class="vertical medium-horizontal menu text-center">
      <li class="menu-text">© Copyright</li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/terms">Terms</a></li>
    </ul>
  </div>  
</div>
<!-- End Terms and Condition -->

</footer>