<!--
<div data-sticky-container>
<div class="navigation" data-sticky data-options="marginTop:0;" style="width:100%">
-->

{% for entry in site.data.navigation %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}
<!-- Navigation -->
<div class="grid-x align-center navigation__logo text-center">
  <div class="shrink cell">
    <a href="/">{{site.title}}</a>
    <div><h6><a href="/">Est. 1977</a></h6></div>
  </div>
</div>
  
<div class="grid-x align-center navigation">
  <div class="shrink cell show-for-medium navigation__menu">
    <nav class="hover-underline-menu" data-menu-underline-from-center>
    <ul class="dropdown menu" data-dropdown-menu>
      {% for entry in site.data.navigation %}
      {% if entry.url == current_page %}
      {% assign current = ' class="active"' %}
      {% else %}
      {% assign current = null %}
      {% endif %}
      {% assign sublinks = entry.sublinks %}
      {% if sublinks %}
      <li{{ current }}>
      <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
      <ul class="menu vertical">
      {% for sublink in sublinks %}
      <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
      {% endfor %}
      </ul>
      </li>
      {% else %}
      <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    </nav>
  </div>
  
  <div class="shrink show-for-small-only navigation__small">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggle="navigation--mobile toggle" data-toggler=".is-active" type="button">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
  </div>

</div>
<!-- End Navigation -->




<!--
</div>
</div>
-->

