<!-- Sign-Up -->

  
  <div class="grid-x grid-padding-y align-center">
    <div class="shrink cell text-center">
      
      <form> 
      <input name="mid" type="hidden" value="6355843">
      <div class="input-group">
        <input class="input-group-field" type="text" placeholder="Your Email Address"  name="email">
        <div class="input-group-button">
        <input type="submit" class="button" value="Submit">
        </div>
      </div>
      </form>
      
      <small>No spam ever. Unsubscribe with one click any time.</small>

    </div>
  </div>
  

<!-- End Sign-Up  -->