@font-face {
  font-family: 'Century Schoolbook Roman';
  src: 
  url('../fonts/century-schoolbook-roman.woff2') format('woff2'), 
  url('../fonts/century-schoolbook-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mr Eaves Sans Bold';
  src: 
  url('../fonts/mr-eaves-sans-bold.woff2') format('woff2'), 
  url('../fonts/mr-eaves-sans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mr Eaves Sans Regular';
  src: 
  url('../fonts/mr-eaves-sans-regular.woff2') format('woff2'), 
  url('../fonts/mr-eaves-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}