---
layout: default
---

<!-- Mobile -->
<div class="grid-x grid-padding-x grid-padding-y align-center show-for-small-only">
	<div class="small-12 medium-12 cell">
  	
    <div class="carousel">
    {% for image in page.images %}
      <img src="{{image}}">
    {% endfor %}
    </div>

	</div>
</div>
<!-- End Mobile -->


<!-- Desktop -->
<div class="show-for-medium">
  
<div class="grid-x grid-padding-x grid-padding-y align-right">
	<div class="small-12 medium-8 medium-offset-1 cell">
      <img src="/uploads/ilya-yakover-317430.jpg">
	</div>	
</div>

<div class="grid-x grid-padding-x grid-padding-y overlap-up-five">
	<div class="small-12 medium-6 medium-offset-1 cell">
      <h1>Creating individual cuts, tailored to your own unique style</h1>
	</div>	
</div>

<div class="grid-x grid-padding-x grid-padding-y overlap-down-two">
	<div class="small-12 medium-6 cell">
      <img src="/uploads/Bob_shoot_0011308.jpg">
	</div>	
</div>

<div class="grid-x grid-padding-x grid-padding-y overlap-up-three align-right">
	<div class="small-12 medium-7 medium-offset-1 cell">
      <h1>Modern cuts and colour, with an emphasis on the long-term condition of your hair</h1>
	</div>	
</div>


<div class="grid-x grid-padding-x grid-padding-y align-right">
	<div class="small-12 medium-8 cell">
      <img src="/uploads/tim-mossholder-285543.jpg">
	</div>	
</div>

</div>
<!-- End Desktop -->

<!-- Title -->
<div class="grid-x grid-padding-x grid-padding-y align-center home__description">
	<div class="small-12 medium-10 cell text-center">
  	<h2>Opening in 1977 and situated in the picturesque market town of Grantham in Lincolnshire, here at Gerard's our staff have a wealth of experience enabling them to create an individual cut, tailored to your own unique style.
We specialise in modern cuts and colour, with an emphasis on the long-term condition of your hair. All of our products contain gentle, nourishing, natural ingredients and avoid any harsh or damaging chemical additives.
The combination of our technical skills and the naturally enriching products we use ensures that your hair looks its best on the days and weeks following your appointment.</h2>
	</div>
</div>
<!-- End Title -->

<!-- Book -->
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 medium-10 large-5 cell text-center">
    <a href="http://www.kitomba.co.uk/bookings/gerardhair/" class="button large hollow">Book an Appointment</a>
  </div>
</div>
<!-- End Book -->